/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  list-style: none;
}

/* header */

header {
  height: 60vh;
  background-color: hsl(13, 100%, 72%);
  background-image: url(/bg-pattern-intro-desktop.svg);
  background-repeat: no-repeat;
  border-bottom-left-radius: 50px;
}

.header-top {
  display: flex;
  column-gap: 20%;
}

.center {
  display: flex;
  column-gap: 5%;
}

.center p {
  color: white;
  font-family: "ubuntu", sans-serif;
  font-weight: 400;
}

.connect {
  font-family: "ubuntu", sans-serif;
  font-weight: 400;
}

.center span {
  display: flex;
  height: 12px;
}

.center span img {
  margin-top: 4px;
}
.dropdown-content {
  box-shadow: 20px;
  margin-top: 10px;
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background: white;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  height: 5vh;
  font-family: "overpass", sans-serif;
  font-weight: 300;
}

.dropdown-content:hover a {
  display: block;
  transition: 0.7s;
}

.dropdown-content:hover {
  display: none;
}

.right-side {
  column-gap: 15%;
  margin-left: 10%;
}

.right-side a {
  text-decoration: none;
  padding: 10px;
  font-size: small;
}

#login {
  font-weight: 300;
  color: white;
  font-family: "overpass", sans-serif;
}

#sign-up {
  padding: 10%;
  font-weight: 300;
  padding: 10px;
  font-family: "overpass", sans-serif;
  background-color: white;
  border-radius: 40px;
  width: 90px;
  color: hsla(353, 91%, 50%, 0.815);
}

#sign-up:hover {
  color: white;
  cursor: pointer;
  background: hsl(353, 100%, 62%);
}

.icon-hamburger {
  height: 10px;
  display: none;
}

.left-side {
  margin-left: 5%;
  width: 6%;
}

.left-side,
.right-side,
.center {
  margin-top: 2%;
}

.bottom-header {
  display: grid;
  text-align: center;
  margin-top: 6%;
}

#modern {
  font-family: "overpass", sans-serif;
  color: white;
  font-size: xx-large;
  font-weight: 600;
}

#audience {
  font-family: "overpass", sans-serif;
  font-weight: 300;
  margin-top: 1%;
  color: white;
  font-size: medium;
  opacity: 0.7;
}

.button {
  margin-top: 3%;
  text-align: center;
}

#start {
  font-family: "overpass", sans-serif;
  font-weight: 300;
  justify-content: space-between;
  text-decoration: none;
  margin-right: 3%;
  background-color: white;
  height: 50px;
  padding: 10px;
  border-radius: 20px;
  color: hsla(353, 91%, 50%, 0.815);
}

#start:hover {
  background: hsl(353, 100%, 62%);
  color: white;
  transition: 0.7s;
  cursor: pointer;
}

#more {
  font-weight: 300;
  font-family: "overpass", sans-serif;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

#more:hover {
  background: white;
  color: hsl(353, 100%, 62%);
  cursor: pointer;
  transition: 0.7s;
}

/* 1st section */
.first-section {
  display: flex;
  flex-direction: row-reverse;
}

.heading {
  text-align: center;
}

.heading h3 {
  font-family: "ubuntu", sans-serif;
  font-weight: 700;
  color: hsl(208, 49%, 24%);
  margin-top: 40px;
  position: absolute;
  margin-left: 40%;
}

.heading-b {
  display: none;
}

.body {
  margin-top: 10%;
  height: 60vh;
  width: 60%;
  display: grid;
  column-gap: 20%;
}

.text {
  width: 60%;
  margin-left: 20%;
}

.text p {
  margin-top: 15px;
  font-family: "overpass", sans-serif;
  font-weight: 300;
  color: hsl(237, 23%, 32%);
  font-size: small;
}

.text h3 {
  color: hsl(208, 49%, 24%);
  font-family: "ubuntu", sans-serif;
  font-weight: 700;
}

.illustration {
  width: 60%;
  margin-top: 5%;
}

.mobile {
  display: none;
}

/* card */
.card {
  display: flex;
  background: hsl(237, 17%, 21%);
  height: 50vh;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}

.card-text {
  margin-right: 20%;
  width: 50%;
  text-align: center;
  margin-top: 7%;
  color: white;
}

.card-text h3 {
  font-family: "overpass", sans-serif;
  font-weight: 300;
  font-size: x-large;
}

.card-text p {
  font-family: "overpass", sans-serif;
  font-weight: 300;
  font-size: small;
  margin-top: 15px;
  width: 60%;
  margin-left: 20%;
  opacity: 0.8;
}

.phone-image {
  width: 60%;
  margin-top: -9%;
}

.phone-image img {
  height: 114%;
  width: auto;
  margin-top: 8%;
  margin-left: 20%;
}

/* second section*/

.second-section {
  display: flex;
  margin-top: 10%;
}

.illustration-laptop-desktop .text {
  width: 50%;
  margin-top: 3%;
}

.illustration-laptop-desktop p {
  margin-top: 25px;
  font-family: "overpass", sans-serif;
  font-weight: 300;
  color: hsl(237, 23%, 32%);
  font-size: small;
}

.illustration-laptop-image {
  width: 110%;
  height: 100%;
}

.illustration-laptop-image img {
  width: 100%;
  height: 100%;
}

/* footer */

footer {
  display: flex;
  column-gap: 10%;
  height: 40vh;
  background: hsl(237, 17%, 21%);
  border-top-right-radius: 70px;
}
.container {
  display: flex;
  column-gap: 40%;
  margin-left: 20%;
  margin-top: 5%;
}

.blogr {
  display: block;
  height: 20%;
}

.foot {
  margin-top: 20%;
  padding-top: 10px;
}

.foot li {
  color: white;
  font-family: "overpass", sans-serif;
  opacity: 0.8;
  font-size: small;
  padding: 10%;
}

.top li {
  color: white;
  font-family: "overpass", sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 720px) {
  /* reset */
  * {
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: 100%;
    box-sizing: border-box;
  }

  /* heading */
  header {
    height: 30vh;
    background-color: hsl(13, 100%, 72%);
    border-bottom-left-radius: 50px;
    max-width: 100%;
    border-bottom-left-radius: 60px;
  }

  .header-top {
    display: flex;
    column-gap: 5%;
  }

  .center {
    display: none;
    column-gap: 5%;
  }

  .right-side {
    display: none;
  }

  .left-side {
    margin-top: 5%;
    margin-left: 10%;
  }

  .icon-hamburger {
    display: inline-flex;
    margin-left: 50%;
    margin-top: 5%;
  }

  .bottom-header {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
  }

  #modern {
    width: 85%;
  }

  .bottom-header p {
    margin-top: 5%;
  }

  .button {
    margin-top: 15%;
  }

  .button a {
    font-weight: 700;
  }

  /* first section */

  .first-section {
    display: grid;
  }
  .heading-b {
    text-align: center;
    display: inline-block;
    margin-top: 10%;
  }

  .heading {
    display: none;
  }

  .heading-b p {
    font-family: "ubuntu", sans-serif;
    font-weight: 700;
    color: hsl(208, 49%, 24%);
    margin-top: 1%;
    position: absolute;
    margin-left: 38%;
    font-size: larger;
  }

  .body {
    flex-direction: row-reverse;
    width: 100%;
    height: 35vh;
  }

  .text {
    width: 30%;
    height: 0vh;
    padding: 0px;
    margin-left: 35%;
  }

  .illustration {
    width: 100%;
  }

  .illustration img {
    width: 60%;
    justify-content: center;
    margin-left: 20%;
    margin-top: 5%;
  }

  .mobile {
    display: inline;
  }

  .desktop {
    display: none;
  }

  /* card*/

  .card {
    display: grid;
    border-bottom-left-radius: 90px;
    border-top-right-radius: 90px;
    margin-top: 20%;
    height: 40vh;
  }

  .phone-image {
    position: relative;
    margin-top: -20%;
    margin-left: 8%;
  }

  .phone-image img {
    height: 80%;
    margin-top: 5%;
  }

  .card-text {
    width: 50%;
    margin-left: 20%;
    margin-top: -10%;
  }

  .card-text h3 {
    width: 50%;
    margin-left: 22%;
  }

  /* second section */

  .second-section {
    height: 80vh;
    display: grid;
  }

  .illustration-laptop-desktop {
    display: grid;
    width: 80%;
    height: 30vh;
  }

  .text {
    margin-right: 35px;
  }

  /* footer */

  footer{
    height: 40vh;
    width: 100%;
    border-top-right-radius: 80px;
  }

  .container{
    display: grid;
    width: 10%;
    justify-self: center;
    margin-left: 40%;
  }

  .blogr{
    height: 20px;
  }
}
